body {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #fff;
}


/* HEADERS
=================================== */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
}

h1,
.thx {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -.2rem;
  line-height: .8;
  margin-bottom: 2rem;
  text-transform: lowercase;

  @media(min-width: $bp-mpls) {
    font-size: 8rem;
    letter-spacing: -.5rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -.1rem;
  line-height: .85;
  margin-bottom: 1.5rem;
  text-transform: lowercase;
  display: inline-block;

  @media(min-width: $bp-mpls) {
    font-size: 5rem;
    letter-spacing: -.2rem;
  }
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .3rem;
  display: inline-block;
}


/* STANDARD TEXT
=================================== */
p {
  line-height: 1.5;
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.loading {
  margin-top: 2rem;
}

.thx {
  font-family: 'Playfair Display', serif;
}


/* LINKS
=================================== */
a,
a:link {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #fff;
  transition: all 300ms ease;
}

a:active,
a:hover,
a:focus {
  color: $color-01;
  border-bottom: 2px solid $color-01;
}


/* SELECTED TEXT
=================================== */
::selection {
  color: #fff;
  background: $color-01;
}